*{
    margin: 0;
}
body{
    background-color: lightsalmon;
    font-family: 'McLaren', cursive;
font-family: 'Nanum Gothic Coding', cursive;    
}
.page1{
    background-color: white;
    height: 500px;
    width: 1000px;
    position: absolute;
    left:40px;
    top: 35px;
    z-index: 1;
    padding: 20px;
}
.page2{
    background-color: white;
    font-family: 'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial, sans-serif;
    height:450px;
    width:790px;
    position: absolute;
    left:1100px;
    top:80px;
    z-index: 1;
    padding-top: 40px;
    padding-bottom: 40px;
}
.page3{
    background-color:#8EB481;
    height: 500px;
    width: 1000px;
    position: absolute;
    top: 350px;
    left:550px;
    z-index: 1;
    padding: 20px;
}
.page4{
    background-color: white;
    height:400px;
    width:890px;
    position: absolute;
    top:700px;
    z-index: 2;
    left: 20px;
    margin-bottom: 100px;

}
.page5{
    background-color: white;
    position: absolute;
    height:400px;
    width:890px;
    top:750px;
    left:1000px;
    display: flex;
    margin-bottom: 30px;
}
.page1 .navigation-bar{
    height:20%;
    width: 100%;
    font-size: larger;
    font-weight: bold;
    

}
.page1 .navigation-bar ul li{
    display: inline-block;
    margin-top: 20px;
    padding: 10px;
}
 hr{
    height: 3px;
    color: black;
    background-color: black;

}
.page1 .images{
    display: flex;
    justify-content: center;
}
.page1 .images .c1{
    height: 200px;
    width:20%;
    
    margin: 10px;
}
.page1 .images .c2{
    height: 200px;
    width:20%;
    
    margin: 10px;
}
.page1 .images .c3{
    height: 200px;
    width:20%;
    
    margin: 10px;
}
.page1 .images .c4{
    height: 200px;
    width:20%;
    margin: 10px;
}
.page1 a{
    text-decoration: none ;
    color: teal;
}
.page3 ul li{
    display: inline-block;
    margin-top: 20px;
    padding: 10px;
    color: white;
}
.page3 a{
    text-decoration: none;
    color: white;
}
 hr{
    height: 3px;
    color: white;
    background-color: white;

}
.page3 .three-sections{
    display: flex;
    padding-top: 100px;
}
.page3 .round-image{
    position: absolute;
    left: 400px;
    top: 100px;
    height: 50%;
    width: max-content;
    border-radius: 100%;
    z-index: 0;
}
.page3 .three-images{
    position: absolute;
    left: 770px;
    top:150px;
}
.page4 ul li{
    display: inline-block;
    margin-top: 20px;
    padding: 10px;
    color:teal;
}
.page4 a{
    text-decoration: none;
    color: teal;
}
.page4 hr{
    height: 3px;
    color: teal;
    background-color: teal;
    margin-bottom: 50px;

}
.page4 .plant-image{
    position: absolute;
    left:300px;

}
.page5 .yellowbox{
    width: 50%;
    height: 400px;

}
.page5 .text{
    width: 50%;
    height: 400px;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
}